<?xml version="1.0"?>
<configuration>
    
    <appSettings>
        <add key="ServerFriendlyName" value="FATE.imulus.com"/>
        <add key="DrivesToCheck" value="C,D"/>
        <add key="Alert:FreeSpacePercentage" value="50"/>
        <add key="Alert:FreeSpaceBytes" value="1073741824"/> <!-- 1073741824 = 1 GB -->
        <add key="Email:FromAddress" value="servers@imulus.com"/>
        <add key="Email:ToAddress" value="servers@imulus.com"/>
        <add key="SMTP:Host" value="smtp.imulus.com"/>
        <add key="SMTP:Port" value="25"/>
        <add key="SMTP:EnableSsl" value="0"/>
        <add key="SMTP:UseDefaultCredentials" value="0"/>
        <add key="SMTP:Username" value=""/>
        <add key="SMTP:Password" value=""/>
    </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
</configuration>
